<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login - IceAndSpice</title>
</head>
<body>
    <form action="login/{{ redirect }}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username : </label>
            <input type="text" name="username" id="username">
        </div>
        <div class="form-group">
            <label for="password">Password : </label>
            <input type="password" name="password" id="password">
        </div>
        <div class="form-group">
            <input type="submit" value="login" name="login-btn" id="login-btn">
        </div>
    </form>
</body>
</html>