{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>User Signup - IceAndSpice</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="{% static 'auth/signup/css/opensans-font.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'auth/signup/fonts/line-awesome/css/line-awesome.min.css' %}">
	<!-- Jquery -->
	{% comment %} <link rel="stylesheet" href="https://jqueryvalidation.org/files/demo/site-demos.css"> {% endcomment %}
	<!-- Main Style Css -->
    <link rel="stylesheet" href="{% static 'auth/signup/css/style.css' %}"/>
</head>
<body class="form-v7">
	<div class="page-content">
		<div class="form-v7-content" style="margin-top: 2%; margin-bottom: 2.2%;">
			<div class="form-left">
				<img src="{% static 'auth/signup/images/bg-4.jpg' %}" alt="form">
				<p class="text-1">Sign Up</p>
				<p class="text-2">Privacy Policy & Terms of Service</p>
			</div>
			<form class="form-detail" action="signup" method="post" id="myform">
                {% csrf_token %}
				<div class="form-row">
					<label for="username">USERNAME</label>
					<input type="text" name="username" id="username" class="input-text" required>
				</div>
				<div class="form-row">
					<label for="email">E-MAIL</label>
					<input type="text" name="email" id="email" class="input-text" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
				</div>
				<div class="form-row">
					<label for="password">PASSWORD</label>
					<input type="password" name="password" id="password" class="input-text" required>
				</div>
				<div class="form-row">
					<label for="comfirm_password">CONFIRM PASSWORD</label>
					<input type="password" name="comfirm_password" id="comfirm_password" class="input-text" required>
				</div>
				<div class="form-row-last">
                    {% comment %} <button type="submit" name="signup-btn">Register</button> {% endcomment %}
					<input type="submit" style="margin-bottom: 0;" name="signup-btn" class="register" id="signup-btn" value="Register">
					<p>Or<a href="login">Sign in</a></p>
				</div>

				<p style="color: red; padding-top: 22px; padding-bottom: 0; margin-top: 21px; margin-bottom: 0; width: inherit; letter-spacing: 1px; text-align: left;"> &nbsp;
					{% if error %}
						Account Already Exists!!!
					{% endif %}
				</p>

			</form>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
</body>
</html>