{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User Profile - IceAndSpice</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <link rel="stylesheet" href="{% static 'fonts/ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/fontawesome/css/font-awesome.min.css' %}">

	<style>
		html {
			scroll-behavior: smooth !important;
		}

		body {
			background-color: #f9f9fa;
		}

		#notify-modal {
			top: 30vh;
		}
		
		.card {
			border-radius: 5px;
			-webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
			box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
			border: none;
			margin-bottom: 30px;
		}

		.card .card {
			border-radius: 20px;
		}

		.card .card:hover {
			border-radius: 5px;
			-webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.25);
			box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.25);
			border: none;
		}

		/* The side navigation menu */
		.sidebar {
		margin: 0;
		padding: 20px;
		width: 20%;
		background-color: #f29263;
		background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
		background: linear-gradient(to right, #ee5a6f, #f29263);
		position: fixed;
		height: 100%;
		overflow: none;
		}

		/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
		.content {
		margin-left: 20%;
		padding: 30px 50px;
		/* height: 1000px; */
		
		}

		/* On screens that are less than 700px wide, make the sidebar into a topbar */
		@media screen and (max-width: 700px) {
			.sidebar {
				width: 100%;
				height: auto;
				position: relative;
			}
			.sidebar a {float: left;}
			div.content {margin-left: 0;}
		}

		/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
		@media screen and (max-width: 400px) {
			.sidebar a {
				text-align: center;
				float: none;
			}
		}

		.sidebar .container {
			position: relative;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
		}

		.profile-pic {
			border-radius: 50%;
			border: 1px solid black;
			width: 100px;
			height: 100px;
			margin: 50px auto;
			margin-top: 0;
			padding: 0;
		}
		.profile-pic img {
			border-radius: 50%;
		}

		.username, .cng-pass, .logout {
			text-align: center;
			margin: 20px auto;
		}

		.cng-pass {
			color: navy;
			text-decoration: underline;
		}

		.info-header {
			padding-bottom: 10px;
			border-bottom: 1px solid gray;
			margin-bottom: 10px;
		}

		#user-details-form {
			margin: 30px auto;
		}

		#save-btn, #reset-btn {
			float: right;
			margin-bottom: 25px;
			margin-top: 15px;
			margin-left: 20px;
			/* display: none; */
			visibility: hidden;
		}

		.counters {
			text-align: center;
			margin: 60px auto;
		}

		.counters .count {
			font-size: 40px;
			font-weight: 700;
			margin-bottom: 0;
		}

		.counters .txt {
			margin: auto;
			margin-top: 0;
			font-size: 20px;
			color: #898E89;
			line-height: 1.5rem;
			width: 50%;
		}

		.remove-from-cart-btn {
			visibility: hidden;
			cursor: pointer;
		}

		.remove-from-order-btn {
			cursor: pointer;
		}

		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		input[type=number] {
			-moz-appearance: textfield;
		}

	</style>
</head>
<body>

	<!-- The sidebar -->
	<div class="sidebar">
		<div class="container">
			<div class="profile-pic">
				<!-- ...... implement uploading profile pic from user and save to media ref google upload image in django models....... -->
				<img src="https://static.vecteezy.com/system/resources/thumbnails/002/318/271/small/user-profile-icon-free-vector.jpg" alt="profile picture" height="100%" width="100%">
			</div>
			<div class="username">
				<h3>{% if user.first_name %} {{user.first_name}} {{user.last_name}} {% else %} {{user.username}} {% endif %}</h3>
			</div>
			<div class="cng-pass">
				<a href="#" target="_blank">Change Password</a>
				<!-- .......implement later ......... -->
			</div>
			<div class="logout">
				<a role="button" href="/authentication/logout" class="btn btn-dark">Logout</a>
			</div>
		</div>
	</div>
	
	<!-- Page content -->
	<div class="content">
		<div class="user-details">
			<h4 class="info-header">Information</h4>
			<form id="user-details-form" method="POST">
				{% csrf_token %}
				<div class="form-group">
					<label for="email">Email : </label>
					<input type="email" class="form-control" name="email" id="email" value="{{user.email}}" placeholder="Email Address">
				</div>
				<div class="form-group">
					<label for="contact">Contact : </label>
					<input type="number" class="form-control" name="contact" id="contact" placeholder="Contact Number" value="{{user.profile.phone}}">
				</div>
				<div class="form-group">
					<label for="address">Address : </label>
					<textarea name="address" class="form-control" id="address" cols="30" rows="5" placeholder="Address" >{{user.profile.address}}</textarea>
				</div>
				<div class="form-group">
					<input type="button" name="save" id="save-btn" value="Save Changes" class="btn btn-success">
					<input type="reset" value="Reset" class="btn btn-secondary" id="reset-btn">
					<!-- only enable if changes are made -->
				</div>
			</form>
		</div>

		<div class="container row counters">
			<!-- .....implement smooth scroll....... -->
			<a href="#order" class="col-md-4 col-sm-4 order-count">
				<h2 class="count">{{order_count}}</h2>
				<p class="txt">Orders to be Delivered</p>
			</a>
			<a href="#reservations" class="col-md-4 col-sm-4 reservation-count">
				<h2 class="count">{{reservations_count}}</h2>
				<p class="txt">Upcoming Reservations</p>
			</a>
			<a href="#cart" class="col-md-4 col-sm-4 cart-count">
				<h2 class="count">{{cart_count}}</h2>
				<p class="txt">Items in Cart</p>
			</a>
		</div>

		<div class="card" id="order">
			<div class="card-body">
				<h5 class="card-title mb-3">Orders</h5>
				{% if orders %}
					<div class="container card-columns">
						{% for order in orders %}
						<div class="card" style="cursor: pointer;" onclick="openOrderModal('{{order.id}}')" id="order-card-{{order.id}}">
							<!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
							<div class="card-body">
								{% if order.status == "D" %}
								<h5 class="card-title text-success"><span><i class="fa fa-check-circle"></i></span> Delivered </h5>
								{% elif order.status == "N" %}
								<h5 class="card-title text-danger"><span><i class="far fa-times-circle"></i></span> Not Yet Delivered </h5>
								{% else %}
								<h5 class="card-title text-secondary"><span><i class="far fa-times-circle"></i></span> Cancelled </h5>
								{% endif %}
								<p class="text-dark">{{order.items}}</p>
								<p class="text-dark">Total Amount : &#8377; {{order.total_amount|intcomma}}</p>
								<p class="card-text"><small class="text-muted">Ordered {{ order.order_date|naturaltime }}</small></p>
							</div>
						</div>						
						{% endfor %}
					</div>
				{% else %}
					<span class="card-text">You have No Orders Currently . . . </span><br>
					<span class="card-text">Try ordering something from the <a href="/#section-menu">Menu</a> or your <a href="#cart">cart</a> !!!</span>
				{% endif %}
			</div>
		</div>		

		<div class="card" id="reservations">
			<div class="card-body">
				<h5 class="card-title">Reservations</h5>
				<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
				<a href="#" class="btn btn-primary">Button</a>
			</div>
		</div>

		<div class="card" id="cart">
			<div class="card-body">
				<h5 class="card-title mb-3">Cart</h5>

				<div class="cart-content">
					{% if cart.items %}
						<table class="table table-hover table-sm" id="table-cart" style="width: 100%;">
							<thead>
							<tr>
								<th style="text-align: center;">Item Name</th>
								<th style="text-align: center;">Quantity</th>
								<th style="text-align: center;"></th>
								<th style="text-align: center;">Price</th>
								<th style="text-align: center;"></th>
							</tr>
							</thead>
							<tbody>
								{% for item in cart.items %}
									<tr align="center" id="{{item.id}}">
										<td>{{item.item.item_name}}</td>
										<td><div>
											<button class="btn btn-sm btn-light dec-btn" data="{{item.id}}">&minus;</button> &nbsp;
											<span>{{item.quantity}} &nbsp;</span>
											<button class="btn btn-sm btn-light inc-btn" data="{{item.id}}">&plus;</button>
										</div></td>
										<td>{{item.quantity}} &times; {{item.item.price}}</td>
										<td>{{item.amount|intcomma}}</td>
										<!-- <td><button class="btn btn-sm btn-danger remove-from-cart-btn" data="{{item.item.id}}">Remove Item</button></td> -->
										<td width="20px" class="py-0">
											<h3 class="text-danger remove-from-cart-btn p-0 pr-5 my-0" data="{{item.item.id}}">&times;</h3>
										</td>
									</tr>	
								{% endfor %}
								<tr align="center">
									<td colspan="3" align="right" class="pr-5" style="font-weight: bolder;">Total Amount :</td>
									<td id="total-amount-cart">{{cart.total|intcomma}}</td>
									<td></td>
								</tr>
								
							</tbody>
							
						</table>
						<button class="btn btn-success checkout-btn" style="float: right; margin-right: 100px">Checkout</button>
					{% else %}
						Your cart is empty . . . <br>
						Try adding something to the cart from the <a href="/#section-menu">Menu</a>
					{% endif %}
				</div>
				  
			</div>
		</div>

	</div>

	<!-- order model -->
	<div id="orderModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered modal-lg">
  
		  <!-- Modal content-->
		  <div class="modal-content justify-content-center">
			<div class="modal-header">
			  <h4 class="modal-title pl-1">Order Details</h4>
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
  
			<div class="modal-body">
				<table class="table table-hover table-sm" id="table-order">
					<thead>
					<tr>
						<th style="text-align: center;">Item Name</th>
						<th style="text-align: center;">Quantity</th>
						<th style="text-align: center;"></th>
						<th style="text-align: center;">Price</th>
					</tr>
					</thead>
					<tbody>
						<!-- Items list fetched from server using ajax -->
					</tbody>
				</table>
			</div>
			<hr style="margin-bottom: 0;">
			<div class="modal-header">
				<h4 class="modal-title pl-1">Delivery Details</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-6 justify-content-center form-group" style="float: left;">
						<label for="personName">Name: &nbsp;</label>
						<input id="personName" name="personName" class="pl-3 form-control" value="" readonly></input>
					</div>
					<div class="col-md-6 justify-content-center form-group" style="float: right;">
						<label for="order-phone">Contact: &nbsp;</label>
						<input id="order-phone" name="order-phone" class="pl-3 form-control" value="" readonly></input>
					</div>
				</div>
	
				<div class="row">
					<div class="col-md-6 justify-content-center form-group" style="float: left;">
						<label for="order-email">Email: &nbsp;</label>
						<input id="order-email" name="order-email" class="pl-3 form-control" value="" readonly></input>
					</div>
					<div class="col-md-6 justify-content-center form-group" style="float: right;">
						<label for="order-address">Address: &nbsp;</label>
						<input id="order-address" name="order-address" class="pl-3 form-control" value="" readonly></input>
					</div>
				</div>
			</div>

			<div class="modal-footer">
			  <div class="container">
				<!-- <input style="float: left;" type="button" name="viewBill" id="viewBill" class="btn pb-3 btn-primary ml-5" value="View Bill"> -->
				<h4 id="delivery-status" style="float: left;"></h4>
				<button style="float: right;" id="cancel-order-btn" class="btn btn-danger">Cancel Order</button>
				<button style="float: right;" id="repeat-order-btn" class="btn btn-primary mr-3">Repeat Order</button>
			  </div>
			</div>
		  </div>
  
		</div>
	</div>
	<!-- END Order Modal -->

	<!-- another model for order confirmation for checkout and repeat order -->
	<div id="orderConfirmModal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-dialog-centered modal-lg" style="max-height: 90vh; overflow-y:auto;">
  
		  <!-- Modal content-->
		  <div class="modal-content justify-content-center"style="width: 100%;">
			<div class="modal-header">
			  <h4 class="modal-title pl-1">Order Details</h4>
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<form method="POST" id="confirm-order-form">
				{% csrf_token %}
				<div class="modal-body">
					<table class="table table-hover table-sm" id="table-order">
						<thead>
						<tr>
							<th style="text-align: center;">Item Name</th>
							<th style="text-align: center;">Quantity</th>
							<th style="text-align: center;"></th>
							<th style="text-align: center;">Price</th>
							<th style="text-align: center;"></th>
						</tr>
						</thead>
						<tbody>
							<!-- Items list fetched from server using ajax -->
						</tbody>
					</table>
				</div>
				<hr style="margin-bottom: 0;">
				<div class="modal-header">
					<h4 class="modal-title pl-1">Delivery Details</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-6 justify-content-center form-group" style="float: left;">
							<label for="confirm-name">Name: &nbsp;</label>
							<input id="confirm-name" name="confirm-name" class="pl-3 form-control" value="{% if request.user.first_name %} {{ request.user.first_name }} {{request.user.last_name}} {% else %} {{request.user.username}} {% endif %}"></input>
						</div>
						<div class="col-md-6 justify-content-center form-group" style="float: right;">
							<label for="confirm-phone">Contact: &nbsp;</label>
							<input id="confirm-phone" name="confirm-phone" class="pl-3 form-control" value="{{ request.user.profile.phone }}"></input>
						</div>
					</div>
		
					<div class="row">
						<div class="col-md-6 justify-content-center form-group" style="float: left;">
							<label for="confirm-email">Email: &nbsp;</label>
							<input id="confirm-email" name="confirm-email" class="pl-3 form-control" value="{{ request.user.email }}"></input>
						</div>
						<div class="col-md-6 justify-content-center form-group" style="float: right;">
							<label for="confirm-address">Address: &nbsp;</label>
							<input id="confirm-address" name="confirm-address" class="pl-3 form-control" value="{{ request.user.profile.address }}"></input>
						</div>
					</div>
				</div>
				<div class="modal-footer">
				  <div class="container">
					<button style="float: right;" type="submit" id="confirm-order-btn" class="btn btn-success">Confirm Order</button>
					<button style="float: right;" data-dismiss="modal" class="btn btn-danger mr-3">Cancel</button>
				  </div>
				</div>
			</form>
		</div>
  
	</div>
	</div>


	<!-- Notify Model -->
    <div class="modal fade" role="dialog" id="notify-modal">
		<div class="modal-dialog modal-dialog-centered modal-md">
		  <div class="modal-content justify-content-center">
  
			<div class="modal-header">
			  <h5 class="modal-title" id="notifyTitle">Reserved</h5>
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
  
			<div class="modal-body"></div>
  
			<div class="modal-footer">
			  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
			</div>
		  </div>
		</div>
	</div>
	
	
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>

	<script>
		var order;
		window.CSRF_TOKEN = "{{ csrf_token }}"

		// show / hide the remove from cart btn
		$("#cart .table tbody tr").mouseenter(function () {
			$(this).children('td').last().children('.remove-from-cart-btn').first().css('visibility', 'visible');
		})
		.mouseleave(function () {
			$(this).children('td').last().children('.remove-from-cart-btn').first().css('visibility', 'hidden');			
		});

		// inc / dec quantity in confirm modal
		$('#orderConfirmModal').on('click', '.confirm-modal-inc-btn', function () {
			$(this).prev('input')[0].stepUp(1);
			uQ($(this).prev('input'));
		})
		.on('click', '.confirm-modal-dec-btn', function () {
			$(this).next('input')[0].stepDown(1);
			uQ($(this).next('input'));
		});
		// updating quantity and amount when inc or dec on confirm modal
		function uQ(elem) {
			var tr = $(elem).closest('tr');
			var q = $(elem).val();
			$('#quantity', tr).text(q);
			var p = parseFloat($('#price', tr).text());
			$('#amount', tr).text((p * q).toFixed(2));
			var total = 0;
			$('#orderConfirmModal table tbody').children('tr[id]').each(function () {
				total += parseFloat($('td#amount', this).text());
			});
			$('#orderConfirmModal #total-amount-order').html('&#8377; ' + total.toFixed(2));
		};
		// toggle the save changes and reset btn
		$("#email, #contact, #address").change(function () {
			$("#save-btn, #reset-btn").css('visibility', 'visible');
		});
		$("#reset-btn").click(function () {
			$("#save-btn, #reset-btn").css('visibility', 'hidden');
		});

		// ajax for updating profile
		$("#save-btn").click(function () {
			$("#save-btn").html('<i class="fas fa-circle-notch fa-spin"></i> Updating ...').attr('disabled', 'disabled');
			$.ajax({
				type: "POST",
				url: "/user/save-changes/",
				// change the url when updting in index from test......................................................
				data: {
					csrfmiddlewaretoken: window.CSRF_TOKEN,
					email: $("#email").val(),
					phone: $('#contact').val(),
					address: $("#address").val(),
					update_profile: true },
				datatype: 'json',

				success: function(response) {
					console.log(response)
					if (response.status) {
						$("#save-btn").html('Save Changes').removeAttr('disabled').css('visibility', 'hidden');
						$("#notify-modal #notifyTitle").html("Profile Updated");
						$("#notify-modal .modal-body").html("Profile Updated Successfully . . .");
						$("#notify-modal").modal("show");
					} else if (!response.status) {
						$("#save-btn").html('Save Changes').removeAttr('disabled').css('visibility', 'hidden');
						$("#notify-modal #notifyTitle").html("Error");
						$("#notify-modal .modal-body").html("Cannot Update Profile . . .");
						$("#notify-modal").modal("show");
					}
				},

				error: function (jqXHR, exception) {

				}
			})
     	});

		// ajax for removing from cart
		$(".remove-from-cart-btn").click(function () {
			$(this).html('<i class="fas fa-circle-notch fa-spin"></i>').attr('disabled', 'disabled').css('font-size', '20px');
			var element = $(this);
			// console.log('removing ' + element.attr('data'))
			$.ajax({
				type: "POST",
				url: "/user/removeFromCart/",
				data: {
					csrfmiddlewaretoken: window.CSRF_TOKEN,
					item: element.attr('data'),
					removeFromCart: "True"
				},
				dataType: 'json',

				success: function (response) {
					if (response.status) {
						element.closest("tr").remove();
						$("#total-amount-cart").text(response.total);
						if(response.total == 0) {
							$('.cart-content').html('Your cart is empty . . . <br>Try adding something to the cart from the <a href="/#section-menu">Menu</a>');
						}
					} else {
						element.html('&times;').removeAttr('disabled')
					}
				},

				error: function (jqXHR, exception) {
				}
			});
			return false;
		});

		// ajax for incrementing the quantity in cart
		$(".inc-btn").click(function () {
			$(this).attr('disabled', 'disabled');
			var element = $(this);
			$.ajax({
				type: "POST",
				url: "/user/changeItemQuantity/",
				data: {
					csrfmiddlewaretoken: window.CSRF_TOKEN,
					item: element.attr('data'),
					changeQuantity: "True",
					changeBy: 1
				},
				dataType: 'json',

				success: function (response) {
					if (response.status) {
						element.removeAttr('disabled');
						element.prev('span').html(response.quantity + " &nbsp;");
						element.closest('td').next('td').html(response.quantity + " &times; " + response.price).next('td').html(response.amount);
						$("#total-amount-cart").text(response.total);
					} else {
						element.removeAttr('disabled');
					}
				},

				error: function (jqXHR, exception) {
				}
			});
			return false;
		});
		
		// ajax for decrementing the quantity in cart
		$(".dec-btn").click(function () {
			$(this).attr('disabled', 'disabled');
			var element = $(this);
			$.ajax({
				type: "POST",
				url: "/user/changeItemQuantity/",
				data: {
					csrfmiddlewaretoken: window.CSRF_TOKEN,
					item: element.attr('data'),
					changeQuantity: "True",
					changeBy: -1
				},
				dataType: 'json',

				success: function (response) {
					if (response.status) {
						element.removeAttr('disabled');
						element.next('span').html(response.quantity + " &nbsp;");
						element.closest('td').next('td').html(response.quantity + " &times; " + response.price).next('td').html(response.amount);
						$("#total-amount-cart").text(response.total);
					} else {
						elementr.emoveAttr('disabled');
					}
				},

				error: function (jqXHR, exception) {
				}
			});
			return false;
		});
	
		// function for getting particular order and showing in modal
		function openOrderModal(id) {
			$.ajax({
				type: "POST",
				url: "/order/get-order/",
				data: {
					csrfmiddlewaretoken: window.CSRF_TOKEN,
					order_id: id,
					getOrder: "True",
				},
				dataType: 'json',

				success: function (response) {
					if (response.status) {
						order = response.order;
						if (order.status == "D") {
							$('#orderModal #cancel-order-btn').hide();
							$("#orderModal #delivery-status").html('<span><i class="far fa-check-circle"></i></span> Delivered').addClass("text-success").removeClass('text-secondary');
						} else if (order.status == "N") {
							$('#orderModal #cancel-order-btn').removeAttr('disabled').show();
							$("#orderModal #delivery-status").html('<span><i class="far fa-times-circle"></i></span> Not Yet Delivered').addClass("text-secondary").removeClass('text-success');
						} else {
							$('#orderModal #cancel-order-btn').hide();
							$("#orderModal #delivery-status").html('<span><i class="far fa-times-circle"></i></span> Cancelled').addClass("text-secondary").removeClass('text-success');
						}
						
						// order details section of order modal
						$('#orderModal table tbody').html('');
						order.items.forEach(item => {
							var tr = '<tr align="center"> '+ 
										'<td>' + item.name + '</td>' +
										'<td><span>' + item.quantity + '</span></td>' +
										'<td>' + item.quantity + '&times;' + item.price + '</td>' +
										'<td>' + item.amount + '</td>' +
									'</tr>'
							$('#orderModal table tbody').prepend(tr);
						});

						$('#orderModal table tbody').append(
							'<tr align="center">' + 
								'<td colspan="3" align="right" class="pr-5" style="font-weight: bolder;">Total Amount :</td>' +
								'<td>&#8377; ' + order.amount + '</td>' +
							'</tr>'
						);


						// delivery details section of order modal
						$('#orderModal #personName').val(response.order.name);
						$('#orderModal #order-phone').val(response.order.contact);
						$('#orderModal #order-email').val('{{ request.user.email }}');
						$('#orderModal #order-address').val(response.order.address);


						$("#orderModal #cancel-order-btn, #orderModal #repeat-order-btn").attr('data', response.order.id);
						
						$("#orderModal").modal('show');
					} else {
					}
				},

				error: function (jqXHR, exception) {
				}
			});
		}

		// ajax for cancelling order
		$("#orderModal #cancel-order-btn").click(function () {
			$.ajax({
				type: "POST",
				url: "/order/cancel-order/",
				data: {
					csrfmiddlewaretoken: window.CSRF_TOKEN,
					order_id: $(this).attr('data'),
					cancelOrder: "True",
				},
				dataType: 'json',

				success: function (response) {
					if (response.status) {
						$("#orderModal").modal('hide');
						$("#order-card-" + response.order_id + " h5").html('<span><i class="far fa-times-circle"></i></span> Cancelled').addClass('text-secondary').removeClass('text-danger').removeClass('text-success');
					} else {
					}
				},

				error: function (jqXHR, exception) {
				}
			});
			return false;
		});

		// show the items in the confirm order modal
		$("#repeat-order-btn").click(function () {
			// order details
			$('#orderConfirmModal table tbody').html('');
			order.items.forEach(item => {
				var tr = '<tr align="center" id="' + item.item_id + '" > '+ 
							'<td>' + item.name + '</td>' +
							'<td><div>' +
								'<button type="button" class="btn btn-sm btn-light confirm-modal-dec-btn">&minus;</button>' +
								'<input id="quantity-order" type="number" step="1" min="1" value="' + item.quantity + '" style="width: 36px; border: 0; position: relative; top: 2px; padding-left: 12px;">' +
								'<button type="button" class="btn btn-sm btn-light confirm-modal-inc-btn">&plus;</button>' +
							'</div></td>' +
							'<td><span id="quantity">' + item.quantity + '</span> &times; <span id="price">' + item.price + '</span></td>' +
							'<td id="amount">' + item.amount + '</td>' +
							'<td width="20px" class="py-0">' +
									'<h3 class="text-danger remove-from-order-btn p-0 pr-5 my-0">&times;</h3>' +
							'</td>' +
						 '</tr>'
				$('#orderConfirmModal table tbody').prepend(tr);
			});

			$('#orderConfirmModal table tbody').append(
				'<tr align="center">' + 
					'<td colspan="3" align="right" class="pr-5" style="font-weight: bolder;">Total Amount :</td>' +
					'<td id="total-amount-order">&#8377; ' + order.amount + '</td>' +
					'<td></td>' +
				'</tr>'
			);

			$('#confirm-order-form').attr('origin', 'repeat_order');
			$("#orderConfirmModal").modal('show');
		})

		// remove item from confirm order modal
		$("#orderConfirmModal").on('click', '.remove-from-order-btn', function () {
			$(this).closest('tr').remove();
			var amt = parseFloat($(this).closest('td').prev('td').html());
			$('#orderConfirmModal #total-amount-order').html('&#8377; ' + (order.amount - amt))
		});

		// function for repeating order
		$('#confirm-order-form').submit(function() {
          $('#confirm-order-form #confirm-order-btn').html('<i class="fas fa-circle-notch fa-spin"></i> Ordering...').attr('disabled', 'disabled');
		  var itemlist = [];
		  $('#orderConfirmModal table tbody').children('tr[id]').each(function () {
			  var id = $(this).attr('id');
			  var quantity = $('#quantity-order', this).val();
			  itemlist.push({id: id, quantity: quantity})
		  })

          $.ajax({
            type: "POST",
            url: "/order/repeat-order/",
            data: {
              csrfmiddlewaretoken: window.CSRF_TOKEN,
			  items: JSON.stringify(itemlist),
              personName: $('#confirm-order-form #confirm-name').val(),
              phone: $('#confirm-order-form #confirm-phone').val(),
              location: $('#confirm-order-form #confirm-address').val(),
			  origin: $('#confirm-order-form').attr('origin'),
              order: "True"},
            datatype: 'json',

            success: function(response) {
              console.log(response);
              if (response.status) {
                $("#confirm-order-form #confirm-order-btn").html('Order Successfull').removeClass('btn-danger').addClass('btn-success').removeAttr('disabled');
                $("#orderModal").modal("hide")
                $("#orderConfirmModal").modal("hide");

                $("#confirm-order-form #confirm-order-btn").html('Confirm Order').removeClass('btn-danger').addClass('btn-success').removeAttr('disabled');
                $("#notify-modal #notifyTitle").html("Order Successfull");
                $("#notify-modal .modal-body").html("Order Placed Successfully . . .<br>You should receive a confirmation shortly on your email or phone.<br>Thank You!");
                $("#notify-modal").modal("show");

				// refresh page
                $("#notify-modal").on('hidden.bs.modal', function () {
					window.location.reload(true);
				});

              } else if (!response.status) {
                $("#confirm-order-modal #confirm-order-btn").html('<i class="fas fa-times"></i> Order Failed!!').addClass('btn-danger').removeClass('btn-success').removeAttr('disabled');
              }
            },

            error: function (jqXHR, exception) {

            }
          })
        return false;
      });

	  	// display confirm modal for checkout button
		  $("#cart .checkout-btn").click(function () {
			$.ajax({
            type: "POST",
            url: "/user/getCartDetails/",
            data: {
              csrfmiddlewaretoken: window.CSRF_TOKEN,
              get_details: "True"},
            datatype: 'json',

            success: function(response) {
              console.log(response);
              if (response.status) {
                // item details
				$('#orderConfirmModal table tbody').html('');
				response.cart.items.forEach(item => {
					var tr = '<tr align="center" id="' + item.item_id + '" > '+ 
								'<td>' + item.name + '</td>' +
								'<td><div>' +
									'<button type="button" class="btn btn-sm btn-light confirm-modal-dec-btn">&minus;</button>' +
									'<input id="quantity-order" class="quantity-order" type="number" step="1" min="1" value="' + item.quantity + '" style="width: 36px; border: 0; position: relative; top: 2px; padding-left: 12px;">' +
									'<button type="button" class="btn btn-sm btn-light confirm-modal-inc-btn">&plus;</button>' +
								'</div></td>' +
								'<td><span id="quantity">' + item.quantity + '</span> &times; <span id="price">' + item.price + '</span></td>' +
								'<td id="amount">' + item.amount + '</td>' +
								'<td width="20px" class="py-0">' +
										'<h3 class="text-danger remove-from-order-btn p-0 pr-5 my-0">&times;</h3>' +
								'</td>' +
							'</tr>'
					$('#orderConfirmModal table tbody').prepend(tr);
				});

				$('#orderConfirmModal table tbody').append(
					'<tr align="center">' + 
						'<td colspan="3" align="right" class="pr-5" style="font-weight: bolder;">Total Amount :</td>' +
						'<td id="total-amount-order">&#8377; ' + response.cart.total_amount + '</td>' +
						'<td></td>' +
					'</tr>'
				);

				$('#confirm-order-form').attr('origin', 'checkout');
				$("#orderConfirmModal").modal('show');

              } else if (!response.status) {

              }
            },

            error: function (jqXHR, exception) {

            }
          })


			
		})

	</script>
</body>
</html>