{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>IceAndSpice</title>
    <link rel="shortcut icon" href="{% static 'images/restaurant/logo-icon.png' %}">
    <link rel="icon" href="{% static 'images/restaurant/logo-icon.png' %}">
    
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600|Montserrat:200,300,400, 600, 700" rel="stylesheet">

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <link rel="stylesheet" href="{% static 'fonts/ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

    <link rel="stylesheet" href="{% static 'fonts/fontawesome/css/font-awesome.min.css' %}">
    
    
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">

    <link rel="stylesheet" href="{% static 'css/helpers.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/restaurant.css' %}">

    <style type="text/css">
      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Firefox */
      input[type=number] {
        -moz-appearance: textfield;
      }

      .pb_outline-r-light {
        border: 2px solid rgba(255, 255, 255, 0.5);
        background: none;
        color: #FFF; }
      .pb_outline-r-light:hover, .pb_outline-r-light:active, .pb_outline-r-light:focus {
        outline: none;
        background: none;
        border: 2px solid white;
        color: #FFF;
      }

      body {
        color: black !important;
        overflow-x: hidden;
      }


      @media (min-width: 768px) {
        .carousel-inner {
          display: flex;
        }
        .carousel-item {
          margin-right: 0;
          flex: 0 0 33.333333%;
          display: block;
        }
      }

      .slider .card{
          margin: 0 1em;
      }

      .coupon-code {
        cursor: pointer;
      }

    </style>

  </head>
  <body data-spy="scroll" data-target="#pb-navbar" data-offset="200">
    

    <div class="probootstrap-loader"></div>
    <!-- END loader -->

    <nav class="navbar navbar-expand-lg navbar-dark pb_navbar pb_scrolled-light" id="pb-navbar">
      <div class="container">
        <a class="navbar-brand d-xl-none d-lg-none d-md-block d-sm-block" href="/">
          <img src="{% static 'images/restaurant/logo.png' %}" alt="IceAndSpice Logo" class="dark">
          <img src="{% static 'images/restaurant/logo-dark.png' %}" alt="IceAndSpice Logo" class="light">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-navbar" aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span><i class="ion-navicon"></i></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-center" id="probootstrap-navbar">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link text-uppercase pb_letter-spacing-2" href="#section-home">Home</a></li>
            <li class="nav-item"><a class="nav-link text-uppercase pb_letter-spacing-2" href="#section-about">About</a></li>
            <li class="nav-item"><a class="nav-link text-uppercase pb_letter-spacing-2" href="#section-menu">Menu</a></li>
            
            <li class="nav-item logo-center d-xl-block d-lg-block d-md-none d-sm-none d-none">
              <a class="nav-link text-uppercase pb_letter-spacing-2" href="/">
                <img src="{% static 'images/restaurant/logo-dark.png' %}" alt="IceAndSpice Logo" class="light">
                <img src="{% static 'images/restaurant/logo.png' %}" alt="IceAndSpice Logo" class="dark">
              </a>
            </li>

            <li class="nav-item"><a class="nav-link text-uppercase pb_letter-spacing-2" href="#section-gallery">Gallery</a></li>
            <li class="nav-item"><a class="nav-link text-uppercase pb_letter-spacing-2" href="#section-events">Offers</a></li>
            <li class="nav-item"><a class="nav-link text-uppercase pb_letter-spacing-2" href="#section-contact">Contact</a></li>

            <li class="dropdown nav-item">
              <a class="btn nav-link dropdown-toggle" href="" role="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span style="font-size: 20px;"><i class="fa fa-user-circle-o"></i></span>
              </a>
            
              <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                {% if user.is_anonymous %}
                  <a class="dropdown-item" href="/authentication/login"><span style="font-size: larger;"><i class="fa fa-sign-in"></i>&nbsp;</span>Login</a>
                  <a class="dropdown-item" href="/authentication/signup"><span style="font-size: larger;"><i class="fa fa-user-plus"></i>&nbsp;</span>Signup</a>
                {% else %}
                  <a class="dropdown-item" href="/user/"><span style="font-size: larger;"><i class="fa fa-user-circle-o"></i>&nbsp;</span>Account</a>
                  <a class="dropdown-item" href="/user/#cart"><span style="font-size: larger;"><i class="fa fa-shopping-cart"></i>&nbsp;</span>Cart</a>
                  <a class="dropdown-item" href="/authentication/logout"><span style="font-size: larger;"><i class="fa fa-sign-out"></i>&nbsp;</span>Logout</a>
                {% endif %}
              </div>
            </li>
          </ul>
            
        </div>
      </div>
    </nav>
    <!-- END nav -->

    <section class="pb_cover_v1 cover-bg-black cover-bg-opacity-4 text-center" style="background-image: url({% static 'images/restaurant/1900x1200/img_1.jpg' %}); background-size: cover;" id="section-home">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-9  order-md-1">
            <h2 class="heading mb-3 pt-4">Tasty & Delicious Food</h2>
            <div class="sub-heading"><p class="mb-5">Our chefs cook the most delicious food for you.</p></div>
            <a href="#section-menu" role="button" class="btn smoothscroll pb_outline-light rounded-0 btn-xl pb_font-13 pb_letter-spacing-2 p-3">Order Now</a>&nbsp;&nbsp;&nbsp;
            <a href="#section-reserve-table" role="button" class="btn smoothscroll pb_outline-light rounded-0 btn-xl pb_font-13 pb_letter-spacing-2 p-3">Reserve a table</a><br>
            <a href="/authentication/{% if user.is_anonymous %}login{% else %}logout{% endif %}" role="button" class="btn pb_outline-light rounded-0 btn-xl pb_font-13 pb_letter-spacing-2 p-3 mt-3">{% if user.is_anonymous %}Login{% else %}Logout{% endif %}</a>
          </div>  
        </div>
      </div>
    </section>
    <!-- END section -->
    
    <section class="pb_section" id="section-about" style=" padding-bottom: 0px !important;">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mb-5">
            <div class="row">
              <div class="col">
                <p><img src="{% static 'images/restaurant/800x975/img_1.jpg' %}" alt="Instant Image" class="img-fluid"></p>
              </div>
              <div class="col">
                <p><img src="{% static 'images/restaurant/800x975/img_2.jpg' %}" alt="Instant Image" class="img-fluid"></p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 pl-lg-5 pl-lg-0">
            <h2 class="mb-4 text-uppercase pb_letter-spacing-1">Ice And Spice</h2>
            <p style="font-size: 18px; font-weight: bold;">Hungry?&nbsp; You're in the right place !</p>
            <p style="text-align: justify; font-size: 18px;">For us, it's not just about bringing you your favourite food from the restaurant to your home. It's about making a connection, which is why we sit down with the chefs, dreaming up menus that will arrive fresh and full of flavour.</p>
            <p style="font-size: 18px; font-weight: bold;">Try us!</p>

            
            <p><a href="#section-menu" class="smoothscroll text-danger text-uppercase">See our menu <i class="ion-arrow-down-c"></i></a></p>
          </div>
        </div>
      </div>
    </section>
    <!-- END section -->

    <!-- START Menu section -->
    <section class="pb_section" id="section-menu">
      <div class="container" style="margin-top: -30px;">
        <div class="row justify-content-center mb-5">
          <div class="col-md-10 text-center">
            <h2 class="mb-4 text-uppercase pb_letter-spacing-2">Discover our exclusive menu</h2>
            <p class="sub-heading">Hasty and tasty!</p>
          </div>
        </div>
        <div class="row">
          <div class="col">

            <ul class="nav justify-content-center pb_tab_v1">
              {% for category in menu %}
                <li class="nav-item">
                  <a class="nav-link{% if forloop.first %} active{% endif %} p-3" data-toggle="list" href="#{{category}}" role="tab">{{category}}</a>
                </li>
              {% endfor %}
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              {% for category, items in menu.items %}
                <div class="tab-pane fade show{% if forloop.first %} active {% endif %}" id="{{category}}" role="tabpanel">
                  <div class="row">
                    <div class="col-md">
                      <ul class="list-unstyled pb_food-menu">
                        {% for item in items %}
                          <li>
                            <div class="row justify-content-center">
                              <div class="col-lg-4">
                                <h3 class="pb_font-18 font-weight-bold">{{item.item_name}}</h3>
                                {% if item.item_desc != "None" %}<p class="mb-0">{{item.item_desc}}</p>{% endif %}
                              </div>
                              <div class="col-lg-2">
                                <span class="price">&#x20B9; {{item.price}} /-</span>
                              </div>
                              <div class="col-lg-2 pb-2">
                                <button onclick="decrement('{{item.id}}')" class="btn pb_outline-dark">&minus;</button>&nbsp;
                                <input id="quantity-{{item.id}}" name="quantity" class="pb_outline-dark text-center" type="number" min=0 max=20 style="height: 38px; width: 36px;" value="0">&nbsp;
                                <button onclick="increment('{{item.id}}')" class="btn pb_outline-dark">&plus;</button>
                              </div>
                              <div class="col-lg-4">
                                <button type="button" onclick="openModal('{{item.id}}', '{{item.item_name}}', '{{item.price}}')" class="btn rounded-0 pb_outline-dark mr-2">Order</button>
                                {% if item.id in cartItems %}
                                  <button type="button" data="{{item.id}}" role="button" id="cart-btn-{{item.id}}" class="btn rounded-0 pb_outline-dark removeFromCart-btn text-success">Added To Cart</button>
                                {% else %}
                                  <button type="button" data="{{item.id}}" role="button" id="cart-btn-{{item.id}}" class="btn rounded-0 pb_outline-dark addToCart-btn">Add To Cart</button>
                                {% endif %}
                              </div>
                            </div>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>

          </div>
        </div>
      </div>


      <script>
        function increment(id) {
            document.getElementById('quantity-' + id).stepUp();
        }
        function decrement(id) {
            document.getElementById('quantity-' + id).stepDown();
        }

      </script>


      <div id="orderModal" class="modal fade" role="dialog">
        <form id="order-form" method="POST">
          {% csrf_token %}
          <div class="modal-dialog modal-dialog-centered modal-lg">
    
            <!-- Modal content-->
            <div class="modal-content justify-content-center">
              <div class="modal-header">
                <h4 class="modal-title pl-1">Confirm Order</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
    
              <div class="modal-body">
                <div class="row">
                  <div class="col-lg-8">
                    <b class="pl-5">Item: </b>
                    <input type="text" name="itemName" id="itemName" class="pl-3" style="outline: none; border: none;" readonly>
                  </div>
                  <div class="col-lg-4">
                    <b>Price: </b>
                    <label class="pl-3">&#x20B9;  <input type="number" name="price" id="price" class="pl-0" style="outline: none; border: none; width: 5ch;" readonly> /-</label>
                  </div>
                </div>
    
                <div class="row">
                  <div class="col-lg-7 pb-2">
                    <label for="quantity-modal" class="pl-5"><b>Quantity: </b></label>
                    <a type="button" onclick="decrementModalQuantity()" class="btn pb_outline-dark ml-5">-</a>&nbsp;
                   
                    <input id="quantity-modal" name="quantity-modal" class="pb_outline-dark text-center" type="number" min=1 max=20 style="height: 38px; width: 36px;">&nbsp;
                   
                    <a type="button" onclick="incrementModalQuantity()" class="btn pb_outline-dark">+</a>
                    
                    <script>
                        function incrementModalQuantity() {
                            document.getElementById('quantity-modal').stepUp();
                            document.getElementById('total-p').innerHTML = document.getElementById('quantity-modal').value * parseInt(document.getElementById('price').value);
                            updateDiscount();
                        }
                        function decrementModalQuantity() {
                            document.getElementById('quantity-modal').stepDown();
                            document.getElementById('total-p').innerHTML = document.getElementById('quantity-modal').value * parseInt(document.getElementById('price').value);
                            updateDiscount();
                        }
                    </script>
                  </div>
    
                  <div class="col-lg-5 pb-2">
                    <b class="pl-4">Total Price: </b>
                    <label class="pl-3">&#x20B9; <span id="total-p"></span> /-</label>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-7">
                    <b class="pl-5">Coupon Code: </b>
                    <input type="text" name="coupon-code" id="coupon-code" class="pl-3 form-control pb_outline-dark" style="text-transform: uppercase; padding-left: 10px; width: 50%; display: inline-block;">
                  </div>
                  <div class="col-lg-4">
                    <b style="padding-left: 35px;">Discount: </b>
                    <label class="pl-2">- &#x20B9; <span id="discount-amount">0</span> /-</label>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-2"></div>
                  <div class="col-lg-5">
                    <b class="pl-5 applied-coupon" style="visibility: hidden; font-size: small; text-align: center; width: 100%;"></b>
                  </div>
                  <div class="col-lg-5">
                    <b style="padding-left: 19px;">Order Total: </b>
                    <b><label class="pl-3">&#x20B9; <span id="total"></span> /-</label></b>
                  </div>
                </div>
    
                <div class="container">
                  <hr>
                  <label>Delivery Details :</label>
                </div>
    
                <div class="row">
                  <div class="col-lg-6 justify-content-center form-group" style="float: left;">
                    <label for="personName">Name: &nbsp;</label>
                    <input type="text" id="personName" name="personName" class="pl-3 form-control pb_outline-dark" style="text-transform: none;" value="{% if request.user.first_name %} {{ request.user.first_name }} {{request.user.last_name}} {% else %} {{request.user.username}} {% endif %}" required>
                  </div>
                  <div class="col-lg-6 justify-content-center form-group" style="float: right;">
                    <label for="phone">Phone: &nbsp;</label>
                    <input type="text" pattern="^[0-9]{10}" title="Enter Valid Phone Number" name="phone" id="phone" class="pl-3 form-control pb_outline-dark phone-validate" style="text-transform: none;" value="{{request.user.profile.phone}}" required>
                  </div>
                </div>
    
                <div class="row">
                  <div class="col-lg-6 justify-content-center form-group" style="float: left;">
                    <label for="email">Email: &nbsp;</label>
                    <input type="text" id="email" name="email" class="pl-3 form-control pb_outline-dark" style="text-transform: none;" value="{{request.user.email}}">
                  </div>
                  <div class="col-lg-6 justify-content-center form-group" style="float: right;">
                    <label for="location">Address: &nbsp;</label>
                    <input type="text" name="location" id="location" class="pl-3 form-control pb_outline-dark" style="text-transform: none;" value="{{request.user.profile.address}}" required>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div class="container form-group">
                  <!-- <input style="float: left;" type="button" name="viewBill" id="viewBill" class="btn pb-3 btn-primary ml-5" value="View Bill"> -->
                  <input style="float: right;" type="submit" name="orderFood" id="orderFood" class="btn pb-3 btn-success mr-5" value="Confirm Order">
                </div>
              </div>
            </div>
    
          </div>
        </form>
      </div>
      <!-- END Order Modal -->

    </section>
    <!-- END Menu section -->


    <!-- START Reservation section -->
    <section class="pb_section pt-6 pb-0" id="section-reserve-table" style="background-image: url({% static 'images/restaurant/800x975/bg_1.jpg' %}); background-repeat: no-repeat; background-size: cover; ">
      <div class="container" style="margin-top: -30px;">
        <div class="row justify-content-center mb-5">
          <div class="col-md-10 text-center">
            <h2 class="mb-4 text-uppercase pb_letter-spacing-2" style="color: white;">Make a Reservation</h2>
            <p style="color: #FFF">Book yourself a table at a time convinent for you</p>
          </div>
        </div>
        <div class="container pt-0" style="padding-bottom: 100px; color: #FFF; width: 80%; font-weight: bolder;">
          <div class="row justify-content-md-center">
            <form id="reserve-table-form" method="POST">
              {% csrf_token %}
                <div class="row">
                  <div class="col-md">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" name="name" class="form-control p-3 pb_outline-r-light rounded-0" id="name" value="{% if request.user.first_name %} {{ request.user.first_name }} {{request.user.last_name}} {% else %} {{request.user.username}} {% endif %}" required>
                    </div>
                  </div>
                  <div class="col-md">
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="text" name="email" class="form-control p-3 pb_outline-r-light rounded-0" id="email" pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+[.][a-zA-Z0-9+_.-]+$" title="Enter Valid Email" value="{{request.user.email}}" required>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md">
                    <div class="form-group">
                      <label for="phone">Phone</label>
                      <input type="text" name="phone" class="form-control p-3 pb_outline-r-light rounded-0 phone-validate" id="phone" pattern="^[0-9]{10}" title="Enter Valid Phone Number" value="{{request.user.profile.phone}}" required>
                    </div>
                  </div>

                  <div class="col-md">
                    <div class="form-group">
                      <label for="date">Date</label>
                      <input type="date" name="date" class="form-control p-3 pb_outline-r-light rounded-0" id="date" required>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md">
                    <div class="form-group">
                      <label for="time">Time</label>
                      <input type="time" name="time" class="form-control pb_outline-r-light p-3 rounded-0" id="time" required>
                    </div>
                  </div>

                  <div class="col-md">
                    <div class="form-group">
                      <label for="person" >Persons</label>
                      <select name="person" class="form-control pb_outline-r-light rounded-0" id="person" required style="height: 58px">
                        <option class="pb_outline-r-light" value="1" style="color: black;">1 Person</option>
                        <option class="pb_outline-r-light" value="2" style="color: black;">2 Persons</option>
                        <option class="pb_outline-r-light" value="3" style="color: black;">3 Persons</option>
                        <option class="pb_outline-r-light" value="4" style="color: black;">4 Persons</option>
                        <option class="pb_outline-r-light" value="5" style="color: black;">5+ Persons</option>
                      </select>

                    </div>
                  </div>
                </div>

                <div class="form-group" style="float: right;">
                  <input type="submit" name="reserve-btn" class="btn pb_outline-light pb_font-13 pb_letter-spacing-2 p-3 rounded-0" value="Book a Table" id="reserve-btn" style="margin-top: 30px;">
                </div>
                  
            </form>
          </div>
        </div>
      </div>
      
    </section>

    <!-- END Reservation section -->


    <!-- START Gallery section -->
    <section class="pb_section" id="section-gallery">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-10 text-center">
            <h2 class="mb-4 text-uppercase pb_letter-spacing-2">Gallery</h2>
            <p class="sub-heading">We're always in the mood for food.</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="card-columns">
              <div class="card border-0 mb-4">
                <a href="{% static 'images/restaurant/800x975/img_1.jpg' %}" class="pb_hover-zoom image-popup">
                  <img class="img-fluid" src="{% static 'images/restaurant/800x975/img_1.jpg' %}" alt="Image caption here">
                  <i class="ion-ios-search-strong icon"></i>
                </a>
              </div>
              <div class="card border-0 mb-4">
                <a href="{% static 'images/restaurant/800x975/img_4.jpg' %}" class="pb_hover-zoom image-popup">
                  <img class="img-fluid" src="{% static 'images/restaurant/800x975/img_4.jpg' %}" alt="Image caption here">
                  <i class="ion-ios-search-strong icon"></i>
                </a>
              </div>
              <div class="card border-0 mb-4">
                <a href="{% static 'images/restaurant/1900x1200/img_5.jpg' %}" class="pb_hover-zoom image-popup">
                  <img class="img-fluid" src="{% static 'images/restaurant/1900x1200/img_5.jpg' %}" alt="Image caption here">
                  <i class="ion-ios-search-strong icon"></i>
                </a>
              </div>
              <div class="card border-0 mb-4">
                <a href="{% static 'images/restaurant/800x975/img_2.jpg' %}" class="pb_hover-zoom image-popup">
                  <img class="img-fluid" src="{% static 'images/restaurant/800x975/img_2.jpg' %}" alt="Image caption here">
                  <i class="ion-ios-search-strong icon"></i>
                </a>
              </div>
              <div class="card border-0 mb-4">
                <a href="{% static 'images/restaurant/1900x1200/img_1.jpg' %}" class="pb_hover-zoom image-popup">
                  <img class="img-fluid" src="{% static 'images/restaurant/1900x1200/img_1.jpg' %}" alt="Image caption here">
                  <i class="ion-ios-search-strong icon"></i>
                </a>
              </div>
              <div class="card border-0 mb-4">
                <a href="{% static 'images/restaurant/800x975/img_9.jpg' %}" class="pb_hover-zoom image-popup">
                  <img class="img-fluid" src="{% static 'images/restaurant/800x975/img_9.jpg' %}" alt="Image caption here">
                  <i class="ion-ios-search-strong icon"></i>
                </a>
              </div>
              <div class="card border-0 mb-4">
                <a href="{% static 'images/restaurant/800x975/img_3.jpg' %}" class="pb_hover-zoom image-popup">
                  <img class="img-fluid" src="{% static 'images/restaurant/800x975/img_3.jpg' %}" alt="Image caption here">
                  <i class="ion-ios-search-strong icon"></i>
                </a>
              </div>
              
              <div class="card border-0 mb-4">
                <a href="{% static 'images/restaurant/800x975/img_6.jpg' %}" class="pb_hover-zoom image-popup">
                  <img class="img-fluid" src="{% static 'images/restaurant/800x975/img_6.jpg' %}" alt="Image caption here">
                  <i class="ion-ios-search-strong icon"></i>
                </a>
              </div>
              <div class="card border-0 mb-4">
                <a href="{% static 'images/restaurant/1900x1200/img_8.jpg' %}" class="pb_hover-zoom image-popup">
                  <img class="img-fluid" src="{% static 'images/restaurant/1900x1200/img_8.jpg' %}" alt="Image caption here">
                  <i class="ion-ios-search-strong icon"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END Gallery section -->


    <!-- START Cover section -->
    <section class="pb_md_py_cover text-center cover-bg-black cover-bg-opacity-4" style="background-image: url( {% static 'images/restaurant/1900x1200/img_1.jpg' %})" id="section-home">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-9  order-md-1">
            <h2 class="heading mb-3">Good Food, Good Taste</h2>
            <p class="sub-heading">Life's too short for boring food.</p>
          </div>  
        </div>
      </div>
    </section>
    <!-- END section -->

    

    <!-- START Events section -->
    <section class="pb_section bg-light" id="section-events">
      <div class="container">
        <div class="row justify-content-center mb-5">
          <div class="col-md-10 text-center">
            <h2 class="mb-4 text-uppercase pb_letter-spacing-2">Events & Offers</h2>
          </div>
        </div>
        <div id="offersCarousel" class="slider">
          {% for offer in offers %}
            <div class="card border-0">
              <img class="card-img-top" height="213px" src="{{ offer.image }}" alt="{{offer.title}}">
              <div class="card-body pb_p-40">
                <small class="text-uppercase  ">Expires &ndash; {{offer.expiry_date|naturalday}}</small>
                <h4 class="card-title"><a href="#" class="text-danger">{{offer.title}}</a></h4>
                <p class="card-text">{{offer.desc}}</p>
                <p class="card-text">Coupon Code : <span class="coupon-code">{{offer.coupon_code}}</span></p>
              </div>
            </div>
          {% endfor %}
          <!-- <div class="card border-0">
            <img class="card-img-top" src="{% static 'images/restaurant/1900x1200/img_10.jpg' %}" alt="Image caption here">
            <div class="card-body pb_p-40">
              <small class="text-uppercase  ">Expires &ndash; April&nbsp; 30<sup>th</sup>,&nbsp; 2021</small>
              <h4 class="card-title"><a href="#" class="text-danger">Start of Season Offer</a></h4>
              <p class="card-text">Cheer for you favourite team this season while drinking a chilled drink with your friends and family</p>
            </div>
          </div>
          <div class="card border-0">
            <img class="card-img-top" src="{% static 'images/restaurant/1900x1200/img_10.jpg' %}" alt="Image caption here">
            <div class="card-body pb_p-40">
              <small class="text-uppercase  ">Expires &ndash; April&nbsp; 30<sup>th</sup>,&nbsp; 2021</small>
              <h4 class="card-title"><a href="#" class="text-danger">Start of Season Offer</a></h4>
              <p class="card-text">Cheer for you favourite team this season while drinking a chilled drink with your friends and family</p>
            </div>
          </div>
          <div class="card border-0">
            <img class="card-img-top" src="{% static 'images/restaurant/1900x1200/img_10.jpg' %}" alt="Image caption here">
            <div class="card-body pb_p-40">
              <small class="text-uppercase  ">Expires &ndash; April&nbsp; 30<sup>th</sup>,&nbsp; 2021</small>
              <h4 class="card-title"><a href="#" class="text-danger">Start of Season Offer</a></h4>
              <p class="card-text">Cheer for you favourite team this season while drinking a chilled drink with your friends and family</p>
            </div>
          </div> -->
          <!-- <a class="carousel-control-prev" href="#offersCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#offersCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a> -->
        </div>
        <!-- <br><br>
        <div class="row">
          <div class="card-deck">
            <div class="card border-0">
              <img class="card-img-top" src="{% static 'images/restaurant/1900x1200/img_10.jpg' %}" alt="Image caption here">
              <div class="card-body pb_p-40">
                <small class="text-uppercase  ">Expires &ndash; April&nbsp; 30<sup>th</sup>,&nbsp; 2021</small>
                <h4 class="card-title"><a href="#" class="text-danger">Start of Season Offer</a></h4>
                <p class="card-text">Cheer for you favourite team this season while drinking a chilled drink with your friends and family</p>
              </div>
            </div>
            <div class="card border-0">
              <img class="card-img-top" src="{% static 'images/restaurant/1900x1200/img_11.jpg' %}" alt="Image caption here">
              <div class="card-body pb_p-40">
                <small class="text-uppercase">Expires &ndash; Today</small>
                <h4 class="card-title"><a href="#" class="text-danger">Deal of the Day</a></h4>
                <p class="card-text">Get the food you like at a discounted price just for today. Hurry up!</p>
              </div>
            </div>
            <div class="card border-0">
              <img class="card-img-top" src="{% static 'images/restaurant/1900x1200/img_9.jpg' %}" alt="Image caption here">
              <div class="card-body pb_p-40">
                <small class="text-uppercase">Expires &ndash; April&nbsp; 15<sup>th</sup>,&nbsp; 2021</small>
                <h4 class="card-title"><a href="#" class="text-danger">Buy One, Get One Free</a></h4>
                <p class="card-text">Now enjoy your favourite dessert twice. Buy One and Get One absolutely free!</p>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </section>
    <!-- END section -->

    <!-- START Contact section -->
    <section class="pb_section pt-0 pb-0" id="section-contact">
      <div class="d-flex">
        <div class="pb_half py-5">
          <div class="row justify-content-center mb-5">
            <div class="col-md-10 text-center" style="margin-bottom: -50px;">
              <h2 class="mb-4 text-uppercase pb_letter-spacing-2">Write to us</h2>
            </div>
          </div>
          <div class="row justify-content-md-center">
            <div class="col-md-7">
              <form id="feedback-form" method="POST">
                <div class="row">
                  <div class="col-md">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" name="name" class="form-control p-3 rounded-0" id="name" required>
                    </div>
                  </div>
                  <div class="col-md">
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="text" name="email" class="form-control p-3 rounded-0" id="email" pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+[.][a-zA-Z0-9+_.-]+$" title="Enter Valid Email" required>
                    </div>
                  </div>
                </div>
                
                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea cols="30" rows="8" name="message" class="form-control  p-3 rounded-0" id="message" required></textarea>
                </div>
                <div class="form-group">
                  <input type="submit" name="feedback" class="btn pb_outline-dark pb_font-13 pb_letter-spacing-2 p-3 rounded-0" value="Send Message" id="submit-feedback-btn">
                </div>
              </form>
              <div class="text-center" style="margin-left: 0px; width: 100%;">
              <h4 class="mb-4 text-uppercase pb_letter-spacing-2">Or Call Us on : </h4>
              <h5><i class="fas fa-phone-alt"></i>&nbsp; 1800-600-352</h5>
            </div>

            </div>
          </div>
        </div>

        <div class="mapouter pb_half" id="map" style="margin-top: 80px">
          <div class="gmap_canvas">
            <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=pillai%20college%20of%20engineering&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            <br>
            <style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}</style>
            <a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
            <style>.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style>
          </div>
        </div>
      </div>
      
    </section>
    <!-- END section -->

    <!-- <button id="reservations">Reservations</button> -->

    <footer class="pb_footer bg-light" role="contentinfo">
      <div class="container">
        <div class="row text-center">
          <div class="col">
            <ul class="list-inline">
              <li class="list-inline-item"><a href="" class="p-2"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="" class="p-2"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="" class="p-2"><i class="fa fa-instagram"></i></a></li>
              <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-tripadvisor"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row text-center justify-content-md-center">
          <div class="col">
            <ul type="none" style="padding-left: 0px;">
              <li class="list-inline-item p-2"><a href="#section-home"> Home </a></li>
              <li class="list-inline-item p-2"><a href="#section-menu"> Menu </a></li>
              <li class="list-inline-item p-2"><a href="#section-reserve-table"> Reservation </a></li>
              <li class="list-inline-item p-2"><a href="#section-about"> About </a></li>
              <li class="list-inline-item p-2"><a href="#section-events"> Events </a></li>
              <li class="list-inline-item p-2"><a href="#section-gallery"> Gallery </a></li>
              <li class="list-inline-item p-2"><a href="#section-contact"> Contact </a></li>
              <li class="list-inline-item p-2"><a href="/user/"> Account </a></li>
              <li class="list-inline-item p-2"><a href="/authentication/{% if user.is_anonymous %}login{% else %}logout{% endif %}"> {% if user.is_anonymous %}Login{% else %}Logout{% endif %} </a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <p><a href="#">IceAndSpice</a> &copy; 2022 | Designed and Developed by TE / Comps, Group 18</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- loader -->
    <div id="pb_loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#FDA04F"/></svg></div>
    


    <!-- Modal Section -->

    <!-- Show Login Modal -->
    <div class="modal fade" id="showlogin">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <h4 class="modal-title">Please Login</h4>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">
            Please Login To Continue...
          </div>

          <div class="modal-footer">
            <a href="/authentication/login" role="button" class="btn btn-success rounded-0">Login</a>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </div>

        </div>
      </div>
    </div>

    <!-- Notify Model -->
    <div class="modal fade" role="dialog" id="notify-modal">
      <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content justify-content-center">

          <div class="modal-header">
            <h5 class="modal-title" id="notifyTitle"></h5>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <div class="modal-body"></div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
          </div>
        </div>
      </div>
    </div>

    <!-- End Modal Section -->



    <!-- <div class="">
      <span><strong>Success!</strong> Successfull</span>
      <button type="button" class="close"><span>&times;</span></button>
    </div> -->


    <script src="{% static 'js/jquery.min.js' %}"></script>
    
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/jquery.mb.YTPlayer.min.js' %}"></script>

    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/magnific-popup-options.js' %}"></script>
  
    <script src="{% static 'js/main.js' %}"></script>


    <script>

      window.CSRF_TOKEN = "{{ csrf_token }}"

      
      // set date and time scripts

      // $("#datetime").val(getDate() + "T" + getTime(2)).attr('min', getDate() + "T" + getTime(1))


      function getDate(inc = 0) {
        d = new Date();
        d.setDate(d.getDate() + inc)
        return d.toISOString().slice(0, 10);
      }

      function getTime(inc = 0) {
        d = new Date();
        d.setTime(d.getTime() + inc * 60 * 60000);
        return d.toTimeString().slice(0, 5);
      }

      const MIN_TIME_DELAY = 1;
      
      // setting date input
      $('#reserve-table-form #date').val(parseInt(getTime(MIN_TIME_DELAY)) < MIN_TIME_DELAY ? getDate(1) : getDate()).attr('min', getDate()).change(function() {
        if($(this).val() == new Date().toJSON().slice(0, 10)) {
          $('#reserve-table-form #time').attr('min', getTime(MIN_TIME_DELAY));
        } else {
          $('#reserve-table-form #time').removeAttr('min');
        }
      });
      
      // setting time input
      $('#reserve-table-form #time').val(getTime(1)).attr('min', getTime(MIN_TIME_DELAY));

    </script>

    

    <script type="text/javascript">

      function openModal(id, name, price) {
        {% if user.is_anonymous %}
          $("#showlogin").modal("show");
        {% else %}
          // document.getElementById("id").innerHTML = id;
          document.getElementById("itemName").value = name;
          document.getElementById("price").value = price;
          document.getElementById("quantity-modal").value = document.getElementById("quantity-" + id).value;
          document.getElementById("total-p").innerHTML = price * document.getElementById("quantity-" + id).value;
          document.getElementById("total").innerHTML = price * document.getElementById("quantity-" + id).value;
          document.getElementById("discount-amount").innerHTML = 0;
          $("#coupon-code").val("");
          $(".applied-coupon").css("visibility", "hidden");
          $("#orderModal").modal('show');
        {% endif %}
      };

    </script>

    <script>
      // Getting cart items
      // $.ajax({
      //   type: "POST",
      //   url: "user/getCartItems/",
      //   data: {
      //     csrfmiddlewaretoken: window.CSRF_TOKEN,
      //     getCart: "True"},
      //   datatype: 'json',

      //   success: function(response) {
      //     // console.log(response);
      //     if (response.status) {
      //       for (const id in response.items) {
      //         $('#cart-btn-' + id).html('Added To Cart').removeClass("addToCart-btn").addClass("removeFromCart-btn").css("color", "green");
      //         $("#quantity-" + id).attr('value', response.items[id]);
      //       }

      //     } else if (!response.status) {
      //       $('#cart-btn-' + id).html(" Added To Cart").removeClass("removeFromCart-btn").addClass("addToCart-btn");
      //       $("#quantity-" + id).attr('value', 0);
      //     }
      //   },

      //   error: function (jqXHR, exception) {
      //     // do something
      //     $('#cart-btn-' + id).html(" Added To Cart").removeClass("removeFromCart-btn").addClass("addToCart-btn");
      //     $("#quantity-" + id).attr('value', 0);

      //   }
      // });

      // $(document).ready(function () {
      //   // for checking items in the cart and updating buttons accordingly
        
      // });


      // AJAX Script for Table Reservation
      $('#reserve-table-form').submit(function() {
        {% if user.is_anonymous %}
          $("#showlogin").modal("show");
        {% else %}
          $('#reserve-table-form #reserve-btn').html('<i class="fas fa-circle-notch fa-spin"></i> Booking...').attr('disabled', 'disabled');
          $.ajax({
            type: "POST",
            url: "reservation/reserve_table/",
            data: {
              csrfmiddlewaretoken: window.CSRF_TOKEN,
              name: $('#reserve-table-form #name').val(),
              email: $('#reserve-table-form #email').val(),
              phone: $('#reserve-table-form #phone').val(),
              date: $('#reserve-table-form #date').val(),
              time: $('#reserve-table-form #time').val(),
              persons: $('#reserve-table-form #person').val(),
              reserve: "True"},
            datatype: 'json',

            success: function(response) {
              console.log(response);
              if (response.status) {
                $("#reserve-table-form #reserve-btn").attr('value', ' book another table').css('color', 'white').removeAttr('disabled');
                $("#notify-modal #notifyTitle").html("Table Reserved");
                $("#notify-modal .modal-body").html("Request for reservation has been sent Successfully . . . <br>You should receive a confirmation shortly on email or phone.<br> Thank You");
                $("#notify-modal").modal("show");
              } else if (!response.status) {
                $("#reserve-btn").html('<i class="fas fa-times"></i> Reservation Failed!!').css('color', 'red').removeAttr('disabled');
              }
            },

            error: function (jqXHR, exception) {
              
            }
          })
        {% endif %}
        return false;
      });


      // AJAX Script for Food Orders
      $('#order-form').submit(function() {
        {% if user.is_anonymous %}
          $("#showlogin").modal("show");
        {% else %}
          $('#order-form #orderFood').html('<i class="fas fa-circle-notch fa-spin"></i> Ordering...').attr('disabled', 'disabled');
          $.ajax({
            type: "POST",
            url: "order/order/",
            data: {
              csrfmiddlewaretoken: window.CSRF_TOKEN,
              itemName: $('#order-form #itemName').val(),
              personName: $('#order-form #personName').val(),
              phone: $('#order-form #phone').val(),
              total: document.getElementById("total").innerHTML,
              location: $('#order-form #location').val(),
              quantity: $('#order-form #quantity-modal').val(),
              coupon_code: $("#coupon-code").val(),
              order: "True"},
            datatype: 'json',

            success: function(response) {
              console.log(response);
              if (response.status) {
                $("#order-form #orderFood").attr('value', ' Order Successfull').css('color', 'green').removeAttr('disabled');
                $("#orderModal").modal("toggle")
                $("#order-form #orderFood").attr('value', ' Confirm Order').css('color', 'black').removeAttr('disabled');
                $("#notify-modal #notifyTitle").html("Order Successfull");
                $("#notify-modal .modal-body").html("Order Placed Successfully . . .<br>You should receive a confirmation shortly on your email or phone.<br>Thank You!");

                $("#notify-modal").modal("show");
              } else if (!response.status) {
                $("#orderFood").html('<i class="fas fa-times"></i> Order Failed!!').css('color', 'red').removeAttr('disabled');
              }
            },

            error: function (jqXHR, exception) {

            }
          })
        {% endif %}
        return false;
      });

       // AJAX Script for Removing from Cart
       $('#section-menu').on('click', '.removeFromCart-btn', function() {
        // console.log('clicked');
        {% if user.is_anonymous %}
          $("#showlogin").modal("show");
        {% else %}
          $(this).html('<i class="fas fa-circle-notch fa-spin"></i> Removing ...').attr('disabled', 'disabled');
          var element = $(this);
          $.ajax({
            type: "POST",
            url: "user/removeFromCart/",
            data: {
              csrfmiddlewaretoken: window.CSRF_TOKEN,
              item: $(this).attr('data'),
              // quantity: $('#quantity-' + $(this).attr('data')).val(),
              removeFromCart: "True"},
            datatype: 'json',

            success: function(response) {
              if (response.status) {
                element.html('Add To Cart').removeAttr('disabled').addClass('addToCart-btn').removeClass('removeFromCart-btn').removeClass('text-success');
                $("#notify-modal #notifyTitle").html("Removed From Cart");
                $("#notify-modal .modal-body").html("Item Removed Form Cart Successfully . . .");
                $("#notify-modal").modal("show");
              } else if (!response.status) {
                element.html('<i class="fas fa-times"></i> Remove From Cart').css('color', 'red').removeAttr('disabled');
              }
            },

            error: function (jqXHR, exception) {

            }
          })

        {% endif %}
        return false;
      });
      

      // AJAX Script for Adding to Cart
      $("#section-menu").on('click', '.addToCart-btn', function() {
        // console.log('clicked')
        {% if user.is_anonymous %}
          $("#showlogin").modal("show");
        {% else %}
          if ($('#quantity-' + $(this).attr('data')).val() < 1) {
            $("#notify-modal #notifyTitle").html("Quantity Invalid");
            $("#notify-modal .modal-body").html("Quantity Should be Greater than 0");
            $("#notify-modal").modal("show");
          } else {

            $(this).html('<i class="fas fa-circle-notch fa-spin"></i> Adding ...').attr('disabled', 'disabled');
            var element = $(this);
            $.ajax({
              type: "POST",
              url: "user/addToCart/",
              data: {
                csrfmiddlewaretoken: window.CSRF_TOKEN,
                item: $(this).attr('data'),
                quantity: $('#quantity-' + $(this).attr('data')).val(),
                addToCart: "True"},
              datatype: 'json',
  
              success: function(response) {
                if (response.status) {
                  element.html('Added To Cart').removeAttr('disabled').addClass('removeFromCart-btn text-success').removeClass('addToCart-btn');
                  $("#notify-modal #notifyTitle").html("Added To Cart");
                  $("#notify-modal .modal-body").html("Item Added To Cart Successfully . . .");
                  $("#notify-modal").modal("show");
                } else if (!response.status) {
                  element.html('<i class="fas fa-times"></i> Add To Cart!!').css('color', 'red').removeAttr('disabled');
                }
              },
  
              error: function (jqXHR, exception) {

              }
            })
            
          }
        {% endif %}
        return false;
      });
      
      // AJAX Script for Table Reservation
      $('#feedback-form').submit(function() {
        {% if user.is_anonymous %}
          $("#showlogin").modal("show");
        {% else %}
          $('#feedback-form #submit-feedback-btn').html('<i class="fas fa-circle-notch fa-spin"></i> Submitting...').attr('disabled', 'disabled');
          $.ajax({
            type: "POST",
            url: "feedback/",
            data: {
              csrfmiddlewaretoken: window.CSRF_TOKEN,
              name: $('#feedback-form #name').val(),
              email: $('#feedback-form #email').val(),
              message: $('#feedback-form #message').val(),
              feedback: "True"},
            datatype: 'json',

            success: function(response) {
              console.log(response);
              if (response.status) {
                $("#feedback-form #submit-feedback-btn").attr('value', 'Send Message').removeAttr('disabled');
                $("#notify-modal #notifyTitle").html("Feedback Submitted");
                $("#notify-modal .modal-body").html("Your feedback has been submitted Successfully . . .");
                $("#notify-modal").modal("show");
              } else if (!response.status) {
                $("#submit-feedback-btn").html('<i class="fas fa-times"></i> Cannot Send!!').css('color', 'red').removeAttr('disabled');
              }
            },

            error: function (jqXHR, exception) {
              
            }
          })
        {% endif %}
        return false;
      });
     


      // $('#reservations').click(function() {
      //   $.ajax({
      //     type: "POST",
      //     url: "reservation/get_reservations/",
      //     data: {
      //       csrfmiddlewaretoken: window.CSRF_TOKEN,
      //     },
      //     datatype: 'json',

      //     success: function(response) {
      //       console.log(response);
      //     },

      //     error: function (jqXHR, exception) {

      //     }
      //   })
      // });


      // function showAlert(element, status) {
      //   var timeout;
      //   var text = status ? '<strong>Success!</strong> ' : '<strong>Failed!</strong> ';
      //   if (element == 'load') {
      //       text += 'Data Loading ';
      //   } else  if (element == 'process') {
      //       text += 'Data Pre-Processing ';
      //   } else if (element == 'split') {
      //       text += 'Data Splitting ';
      //   } else if (element == 'train') {
      //       text += 'Model Training ';
      //   } else if (element == 'predict') {
      //       text += 'Data Prediction ';
      //   } else if (element == 'load-sent') {
      //       text += 'Loading Sentence ';
      //   }
      //   text += status ? 'Successfull !!!' : 'Failed !!!';
      //   var classesadd = status ? 'alert-success' : 'alert-danger';
      //   var classesremove = status ? 'alert-danger' : 'alert-success';
      //   $('.alert').addClass(classesadd).removeClass(classesremove).animate({opacity: '1'}, 'fast', function() {timeout = setTimeout(function() {$('.alert').animate({opacity: '0'}, 'fast');}, 2500);}).find('span').html(text);
      //   $('.alert').find('button').click(function() {
      //       $('.alert').animate({opacity: '0'}, 'fast', clearTimeout(timeout));
      //   });
      // }


      // Offers Carousel Scripts
      $(document).ready(function(){
        $('#offersCarousel').slick({
          autoplay: true,
          autoplaySpeed: 3000,
          slidesToShow:3,
        	slidesToScroll: 1,
          arrows: false,
          speed: 1000,
          easing: 'easeInOut'
          // prevArrow: '<span class="carousel-control-prev-icon" aria-hidden="true"></span>',
          // nextArrow: '<span class="carousel-control-next-icon" aria-hidden="true"></span>',
        });
      });

      $(".coupon-code").click(function () {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(this).text()).select();
        document.execCommand("copy");
        $temp.remove();

        $(this).addClass('text-success').attr('title', "Copied to Clipboard").tooltip("show");
        var code = this;
        setTimeout(() => {
          $(code).tooltip("dispose").removeAttr('title').removeClass('text-success');
        }, 2000);

      });


      let discount = 0;

      $("#coupon-code").on("input", function () {
        $.ajax({
          type: "POST",
          url: "admin/check-coupon/",
          data: {
            csrfmiddlewaretoken: window.CSRF_TOKEN,
            coupon_code: this.value,
            itemName: $('#order-form #itemName').val(),
            check_coupon: "True"},
          datatype: 'json',

          success: function(response) {
            if (response.status) {
              // valid coupon code
              discount = response.offer.discount;
              updateDiscount();
            } else if (!response.status) {
              // invalid coupon code
              discount = 0;
              $("#discount-amount").text("0");
              $(".applied-coupon").html("&excl; " + response.msg).css('visibility', "visible").addClass("text-danger").removeClass("text-success");
            }
          },

          error: function (jqXHR, exception) {
            
          }
        })
      });

      function updateDiscount() {
        var price = parseInt($("#total-p").text());
        var discount_price = (price * discount / 100);
        $("#discount-amount").text(discount_price);
        if (discount > 0) {
          $(".applied-coupon").html("Coupon Applied - " + discount + "% Discount").css('visibility', "visible").addClass("text-success").removeClass("text-danger");
        }
        $("#total").text(price - discount_price);
      }


      // only accept number in phone number
      $(".phone-validate").on("input", function () {
        let val = this.value;
        // if not a number remove the alphabet
        if (isNaN(val)) {
          this.value = val.replaceAll(/\D/ig, '');
        }
      })


    </script>

  </body>
</html>