<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IceAndSpice</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    
    <div class="menu">
        <div class="menu-categories">

        </div>
    </div>

    <br><br>
    {% if menu %}
        {% for cat in menu %}
            <button onclick="showmenu('{{cat}}')">{{cat}}</button>
        {% endfor %}

        {% for cat, items in menu.items %}
            <div class="menu-cat hidden {{cat}}">
                <ul>
                    {% for item in items %}
                        {{item.item_name}} <br>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    function showmenu(cat) {
        $('.menu-cat').each(function() {
            if ($(this).attr('class').includes(cat)) {
                $(this).show();
            }
            else {
                $(this).hide();
            }
        });
    }
</script>
</body>
</html>